.navBar {
    width: 100%;
    height: 100px;
    background-color: rgb(76, 97, 154);
    display: flex;
    flex-direction: row;
}

.navBar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 150px;
}

.navBar .leftSide img {
    width: 50px;
}

.navBar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navBar a {
    color: white;
    text-decoration: none;
    margin: 20px;
}

.navBar .rightSide button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

.navBar .rightSide svg {
    font-size: 40px;
}

.navBar #open {
    padding-left: 0px;
}

.navBar #open img {
    display: none;
}

.navBar #close img {
    display: inherit;
}

.navBar #open .hiddenLinks {
    display: inherit;
    margin-left: 30px;
}

.navBar #close .hiddenLinks {
    display: none;
}

.navBar #open .leftSide a {
    display:none;
}

.navBar #open a {
    width: 70px;
    margin: 5px;
}

@media only screen and (max-width: 900px) {
    .navBar .rightSide a {
      width: 70px;
    }
    .navBar .leftSide {
      padding-left: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .navBar .rightSide a {
      display: none;
    }
  
    .navBar .rightSide {
      justify-content: flex-end;
      padding-right: 50px;
    }
  
    .navBar .rightSide button {
      display: inherit;
    }
}

@media only screen and (min-width: 600px) {
    .navBar .rightSide button {
      display: none;
    }
  
    .hiddenLinks {
      display: none;
    }

    .hiddenLinks #open {
        display: none;
    }
}